# Project Information
APP_NAME="GoTrack"
APP_VERSION="1.0.0-MVP"
PYTHON_VERSION="3.12.5"

# Server Configuration
HOST="127.0.0.1"
PORT=8000
DEBUG=True

# Database Configuration
DATABASE_URL="sqlite:///./gotrack.db"

# Seeded Admin Credentials
ADMIN_EMAIL="admin@gocloud.com"
ADMIN_PASSWORD="admin"
ADMIN_ROLE="HR Manager"

# Seeded Employee Credentials
EMPLOYEE_EMAIL="employee@gocloud.com"
EMPLOYEE_PASSWORD="employee"
EMPLOYEE_ROLE="Employee"

# Online Storage Configuration (Cloudinary)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Email Configuration (SMTP - Gmail)
SMTP_SERVER="smtp.gmail.com"
SMTP_PORT=587
SENDER_EMAIL=your_gmail_address
SENDER_PASSWORD=your_gmail_app_password

# Zoom Integration
ZOOM_ACCOUNT_ID=your_zoom_account_id
ZOOM_CLIENT_ID=your_zoom_client_id
ZOOM_CLIENT_SECRET=your_zoom_client_secret