# Environment & Secrets
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
env/

# Database
*.db
*.sqlite3

# Node / Electron
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
out/
.cache/

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln